name: Create GKE using Terraform

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ././deploy/kubernetes/terraform
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # - name: Authenticate to GCP
      #   uses:  google-github-actions/auth@v1
      #   with:
      #     credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"

      - name: Terraform Init
        run: |
          terraform init
      
      - name: Terraform Format
        run: |
          terraform fmt

      - name: Terraform Validate
        run: |
          terraform validate

      - name: Terraform Plan
        run: |
          terraform plan
        env:
          TF_VAR_service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve
        env:
          TF_VAR_service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}